.textContainer {
    display: block;
    position: relative;
}
.clas2 {
    z-index: 10;
}

.textView {
    padding: 1.625rem 0.75rem 0.625rem;
    line-height: 1.25;
}

.backdrop {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.App {
    background-color: skyblue;
    height: 100vh;
}
